.SignupForm {
    padding: 200px;
}

.SignupForm form {
    margin: 0 auto;
    max-width: 300px;
}

.Cancel {
    background-color: #FF0000;
    border-color: #FF0000;
    width: 300px;
    margin-top: 5px;
    color: #fff; 
}

.Cancel:hover {
    background-color: #FF0000;
    border-color: #FF0000;
}

.Cancel {
    background-color: #FF0000;
    border-color: #FF0000;
}
