.Login {
    padding: 200px;
}

.Loginbtn {
    width: 300px;
    border-color: rgb(79, 155, 206);
}

.Signup {
    background-color: #50C878;
    border-color: #50C878;
    width: 300px;
    color: #fff;
}

.Signup:hover {
    background-color: #50C878;
    border-color: #50C878;
}

.Login form {
    margin: 0 auto;
    max-width: 300px;
}
